body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    box-sizing: border-box;
    margin-bottom: 200px;
}

* {
    margin: 0;
    padding: 0;
}
.header {
    background-image: linear-gradient(to bottom, rgb(145 147 152 / 85%), rgb(189 191 195)), url(../images/banner.jpg);
    background-size: cover;
    min-height: 700px;
}

.containeer {
    max-width: 1200px;
    margin: 0 auto;
}
 .row { 
    padding: 15px;
}
.logo{
display: inline-block;
vertical-align: middle;
}
.naav{
    display:inline-block;
    vertical-align: middle;
    text-align:end;

}
.naav ul li {
    display: inline-block;
     padding: 0px 10px;
}
.naav ul a {
    color: rgb(255 255 255);
    text-decoration: none;
    font-size: 20px;
}
.contact_btn {
    background-color: aqua;
    border: 0;
    padding: 0px 10px;
    border-radius: 3px;
    text-transform: uppercase;
    
}
.caard{
    background: transparent;
}
.mb-40 {
    margin-bottom: 40px;
}
.highlight {
    box-shadow: 0 0 0 99px rgba(255, 255, 255, 0.979);
}