body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    box-sizing: border-box;
    margin-bottom: 200px;
    border: 1px;
}

* {
    margin: 0;
    padding: 0;
}
.higthligh {
    box-shadow: 0 0 0 9999px rgb(230 226 226 / 79%);
    margin: 100px;
    margin-left: 400px; 
    margin-right: 400px;
    padding: 20px;
   
}
.w-9{
   
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    background-color: aliceblue;
   
}
.w-8{
    width: 95%;
}
.heading {
    width: 95%;
    vertical-align: middle;


}
.btn {
    width: 5%;
    vertical-align: end;
    padding: 5px;
}
.oper{
    display: flex;
    text-align: center;


}
.farm{
    margin: 20px;
    text-align: center;

}
.farm a{
    color:blue;
    text-decoration: underline;
}
