.main-left img{
    width: 100%;
}
.d-i-b{
    display: flex;
}
.p-10{
    padding: 10px;
}
.w-30{
    width: 30%;
}
.w-69{
    width: 69%;
}
.main-right img{
    width: 5%;
    height: 30px;
}
.v-a-t{
    vertical-align: top;
}
.p-5{
    padding: 5px;
}
.bcb{
    background-color: black;
    color: white;
}
.m-5{
    margin: 5px;
}
.v-a-b{
    vertical-align: bottom;
}