body{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.2;
    font-weight: 400;
}
*{
    margin:0px;
    padding: 0px;
}
.header-wrapper{
    width: 80%;
    margin: auto;

    background: transparent;
}
.d-i-b{
    display: inline-block;
}
.w-25{
    width: 25%;
}
.w-50{
    width: 49%;
}
.t-a-c{
    text-align: center;
}
.t-a-e{
    text-align: end;
}
.v-a-m{
    vertical-align: middle;
}
.h2 li{
    display: inline-block;
    padding: 20px;
}
.h2 li a{
    font-weight: 10;
}
.h3 li{
    display: inline-block;
    padding: 20px;
}
